# Supply Chain Analytics

- Study Case: AtliQ Mart is a growing FMCG manufacturer headquartered in Gujarat, India. It is currently operational in three cities Surat, Ahmedabad and Vadodara. They want to expand to other metros/Tier 1 cities in the next 2 years.

In [1]:
import pandas as pd

In [57]:
df_order_lines = pd.read_csv('fact_order_lines.csv')
df_order_lines.shape

(57096, 11)

In [67]:
df_order_lines[df_order_lines['order_id'] == "FMR34220601"]

,order_id,order_placement_date,customer_id,product_id,order_qty,agreed_delivery_date,actual_delivery_date,delivery_qty,In Full,On Time,On Time In Full
3,FMR34220601,"Tuesday, March 1, 2022",789220,25891203,235,"Friday, March 4, 2022","Friday, March 4, 2022",235,1,1,1
75,FMR34220601,"Tuesday, March 1, 2022",789220,25891102,473,"Friday, March 4, 2022","Friday, March 4, 2022",473,1,1,1
158,FMR34220601,"Tuesday, March 1, 2022",789220,25891601,78,"Friday, March 4, 2022","Friday, March 4, 2022",78,1,1,1
195,FMR34220601,"Tuesday, March 1, 2022",789220,25891201,378,"Friday, March 4, 2022","Friday, March 4, 2022",378,1,1,1

In [4]:
df_order_lines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57096 entries, 0 to 57095
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              57096 non-null  object
 1   order_placement_date  57096 non-null  object
 2   customer_id           57096 non-null  int64
 3   product_id            57096 non-null  int64
 4   order_qty             57096 non-null  int64
 5   agreed_delivery_date  57096 non-null  object
 6   actual_delivery_date  57096 non-null  object
 7   delivery_qty          57096 non-null  int64
 8   In Full               57096 non-null  int64
 9   On Time               57096 non-null  int64
 10  On Time In Full       57096 non-null  int64
dtypes: int64(7), object(4)
memory usage: 4.8+ MB

In [58]:
df_order = pd.read_csv('fact_orders_aggregate.csv')
df_order.shape

(31729, 6)

In [6]:
df_targets = pd.read_csv('dim_targets_orders.csv')

## 1. KPI CROSSCHECK

### 1.1 KPI Order Lines

In [7]:
total_lines = df_order_lines['order_id'].count()
print("total_lines: {0}".format(total_lines))

total_lines: 57096

In [8]:
lifr = round(sum(df_order_lines['In Full'])/df_order_lines['order_id'].count() * 100, 2)
print("Line Fill Rate: {0}%".format(lifr))

Line Fill Rate: 65.96%

In [9]:
vofr = round(sum(df_order_lines['delivery_qty'])/sum(df_order_lines['order_qty']) * 100, 2)
print("Volume Fill Rate: {0}%".format(vofr))

Volume Fill Rate: 96.59%

### 1.2 KPI Order

In [26]:
len(df_order_lines['order_id'].unique())

31729

In [10]:
total_order = df_order['order_id'].count()
print("Total Order: {0}".format(total_order))

Total Order: 31729

In [11]:
ot = round(df_order['on_time'].sum()/total_order * 100, 2)
print("On Time Delivery: {0}%".format(ot))

On Time Delivery: 59.03%

In [12]:
in_full_deliv = round(df_order['in_full'].sum() / total_order * 100, 2) 
print("In Full Delivery: {0}%".format(in_full_deliv))

In Full Delivery: 52.78%

In [13]:
otif = round(df_order[(df_order["in_full"] == 1) & (df_order["on_time"] ==1)].on_time.count()/total_order * 100, 2)
print("On Time In Full: {0}%".format(otif))

On Time In Full: 29.02%

### 1.3 KPI Targets Order

In [14]:
df_targets.head()

   customer_id  ontime_target%  infull_target%  otif_target%
0       789201              87              81            70
1       789202              85              81            69
2       789203              92              76            70
3       789301              89              78            69
4       789303              88              78            69

In [15]:
df_targets.shape

(35, 4)

In [16]:
On_Time_Target = (round(df_targets['ontime_target%'].mean(), 2))
print("On Time Target: {0}%".format(On_Time_Target))

On Time Target: 86.09%

In [17]:
In_Full_Target = round(df_targets['infull_target%'].mean(), 2)
print("In Full Target: {0}%".format(In_Full_Target))

In Full Target: 76.51%

In [18]:
otif_target = round(df_targets['otif_target%'].mean(), 2)
print("On Time In Full Target : {0}%".format(otif_target))

On Time In Full Target : 65.91%

In [19]:
On_Time_Target - ot

27.060000000000002

In [20]:
On_Time_Target - ot

27.060000000000002